@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Pet Animals</h3>

<p>“Pets are humanizing. They remind us we have an obligation and responsibility to preserve and nurture and care for all life.” .</p>
