@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Pet Animals</h3>

<address>
    <br />
    LUTHRA'S MANTION (Gaurav Luthra) 19 Corrin street Melville, Hamilton - 3204, New Zealand<br />
    <abbr title="Phone">Ph:</abbr>
    +64 0342576438
</address>

<address>
    <strong>ContactUs At:</strong>   <a href="mailto:contactus@petanimals.com">contactus@petanimals.com</a><br />
    
</address>